# This software is in the public domain under CC0 1.0 Universal plus a
# Grant of Patent License.
#
# To the extent possible under law, the author(s) have dedicated all
# copyright and related and neighboring rights to this software to the
# public domain worldwide. This software is distributed without any
# warranty.
#
# You should have received a copy of the CC0 Public Domain Dedication
# along with this software (see the LICENSE.md file). If not, see
# <http://creativecommons.org/publicdomain/zero/1.0/>.
accelerate==1.10.0
fastapi==0.116.1
hf_transfer==0.1.9
json-numpy==2.1.0
pillow==11.3.0
sentencepiece==0.2.1
timm==0.9.10
tokenizers==0.19.1
transformers==4.40.1
uvicorn[standard]==0.35.0
