librechat/db/
librechat/db/**
librechat/logs/
librechat/logs/**
librechat/images/
librechat/images/**
librechat/uploads/
librechat/uploads/**
opensearch/data/
opensearch/data/**
opensearch/logs/*
!opensearch/logs/README
keycloak/postgres/
keycloak/postgres/**
keycloak/tls/
keycloak/tls/**
logs/
logs/**
ollama/
ollama/**
ollama-home/
ollama-home/**
ollama-home-*/
ollama-home-*/**
ollama-local/
ollama-local/**
.env
.env.*
