librechat/db/
librechat/db/**
librechat/logs/
librechat/logs/**
librechat/images/
librechat/images/**
opensearch/data/
opensearch/data/**
opensearch/logs/*
!opensearch/logs/README
logs/
logs/**
ollama/
ollama/**
ollama-home/
ollama-home/**
ollama-home-*/
ollama-home-*/**
ollama-local/
ollama-local/**
.env
.env.*
