# Copy to postgres-backup/config/backup.moqui-log.env inside moqui-framework/docker.

BACKUP_INSTANCE="moqui-log"
PGBACKREST_STANZA="moqui-log"
COMPOSE_PROJECT="moqui-log"
COMPOSE_FILE="../../postgres-log-compose.yml"
POSTGRES_SERVICE="moqui-log-database"
APP_SERVICE=""

LOCAL_REPO_PATH="../../db/moqui-log/pgbackrest/repo"
LOG_DIR="../var/log"
STATE_DIR="../var/state"
LOCK_DIR="../var/state/lock"

NAS_MOUNT_POINT="/mnt/backup_nas"
NAS_BACKUP_ROOT="/mnt/backup_nas/moqui-postgres-backup"
NAS_INSTANCE_DIR="moqui-log"
ENABLE_NAS_SYNC="true"
NAS_COPY_RETRIES="3"
NAS_COPY_RETRY_SLEEP_SECONDS="60"
DISABLE_BACKUP_ON_NAS_FAILURE="true"

NOTIFY_METHOD="mail"
NOTIFY_TO="it@example.com"
NOTIFY_SUBJECT_PREFIX="[Moqui Backup][moqui-log]"
MAIL_BIN="/usr/bin/mail"
NOTIFY_WEBHOOK_URL=""

RSYNC_BIN="/usr/bin/rsync"
DOCKER_COMPOSE_BIN="/usr/bin/docker"
CONTAINER_PGDATA_PATH="/var/lib/postgresql/18/docker"
POSTGRES_CONTAINER_UID="70"
POSTGRES_CONTAINER_GID="70"
